<div class="container">
  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>
  <h1>About!</h1>

  <div>
  Movie Recommendations Project at Carnegie Mellon University - Silicon Valley.
  <br>
  <br>
  Data provided by <a ng-href="http://grouplens.org/datasets/movielens/">Movielens</a> and <a ng-href="http://www.themoviedb.org/">TMDb.</a>
  <br>
  <br>
  This product uses the TMDb API but is not endorsed or certified by <a ng-href="http://www.themoviedb.org/">TMDb</a>.
  <br>
  <img ng-src="https://assets.tmdb.org/images/logos/var_1_0_PoweredByTMDB_Blk_Antitled.png" alt="TMDb Logo" height="50px"/>

  </div>
</div>