<div class="container">
  <div class="page-header">
    <h1>
        {{movie.name}}
    </h1>
  </div>
  <!-- Google Tag Manager -->
<noscript>
  <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PQCVND" height="0" width="0" style="display:none;visibility:hidden">
  </iframe>
</noscript>

<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({
  'gtm.start':new Date().getTime(),event:'gtm.js'});
  var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
  j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
// })(window,document,'script','dataLayer','GTM-5Q98JN');
})(window,document,'script','dataLayer','GTM-PQCVND');
</script>
<!-- End Google Tag Manager -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75421601-2', 'auto');
  // ga('create', 'UA-76857908-1', 'auto');
  ga('set', '&uid', 'User123');
  ga('send', 'pageview');

</script>

  <div class="row">
    <div class="col-md-5">
      <!-- <img ng-if="movie" class="img-responsive" ng-src="//image.tmdb.org/t/p/w780/{{movie.info.backdrop_path}}"> -->
      <iframe width="300" height="200" src="https://www.youtube.com/embed/KYz2wyBy3kc" frameborder="0" allowfullscreen></iframe>

    </div>
    <div class="col-md-7" style="font-size:18px;">
      <div class="row">
        <div class="col-md-3">
          Your Rating:
        </div>
        <div class="col-md-9">
          <div class="star-rating" ng-controller="RatingCtrl">
          <rating style="font-size:25px; white-space:nowrap;" ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" ng-click="voteOnMovie(movie.movie_id)" ng-init="rate=movie.predicted_rating">
          </rating>
        </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          Genres:
        </div>
        <div class="col-md-9">
          <span ng-repeat="genre in movie.info.genres">
            {{genre.name}}{{$last ? '' : ', '}}
          </span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          Release date:
        </div>
        <div class="col-md-9">
          {{movie.info.release_date}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          Runtime:
        </div>
        <div class="col-md-9">
          {{movie.info.runtime}} Minutes
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          IMDB:
        </div>
        <div class="col-md-9">
          <a ng-href="http://www.imdb.com/title/{{movie.info.imdb_id}}">{{movie.name}}</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5" style="font-size:18px;">
      {{movie.info.overview}}
    </div>
  </div>
</div>
